.whole {
    width: 900px;
    height: 600px;
    margin-left: 250px;
    margin-top: 70px;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex; /* Flexbox for layout */
    justify-content: flex-start; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    
}

.img {
    background-color: rgb(29, 29, 59);
    padding: 50px;
    height: 80%;
    border-radius: 20px;
    width: 50%;
    text-align: center; /* Center text below the image */
    margin-left: 20px;
    color: white;
    padding: auto;
}

img {
    width: 300px;
    height: auto;
    margin-bottom: 20px; /* Space between image and text */
}

h1 {
    color: white;
    margin: 0;
    font-size: 1.5rem; /* Adjust font size as needed */
    font-family:welcome;
    
}
@font-face {
    font-family: welcome;
    src:url(../SansSerifFLF.otf);
}
.login{
    
    padding: 50px;
    height: 75%;
    border-radius: 20px;
    width: 40%;
     /* Center text below the image */
    margin-left: 20px;
}
#heading{
    color: black;
    font-size: 40px;
    margin-left: 90px;
}
input{
    border-radius: 20px;
    border: transparent;
    padding: 13px;
    width: 100%;
}

a{
    margin-left: 10px;
    font-family: welcome;
}
button{
    border-radius: 20px;
    border: transparent;
    padding: 10px;
    width: 70%;
    font-family: ubuntu;
    font-size: 20px;
    background-color: rgb(29, 29, 59);
    color: white;
    margin-left: 20px;
    transition: transform 0.3s ease;
    border-radius: 20px;
}
@font-face {
    font-family: ubuntu;
    src: url(../Ubuntu-Regular.ttf);
}
button:hover{
    transform: scale(1.05);
    background-color: rgb(44, 44, 118);

}
input::placeholder
{
    font-family: ubuntu;
}
.footer{
    font-family: welcome;
    margin-left: 20px;
    color: white;
}
a{
    color: rgb(174, 174, 245);
}